*{
    margin: 0px;
    padding: 0px;
}
/* navigation bar */
#navbar{
    display: flex;
    align-items: center;
    position: relative;
}
/* logo and image */
#logo img{
    height: 100px;
    width: 120px;
    padding: 20px 15px;
    margin: 1px 1px;
}
/* list styling */
#navbar ul{
    display: flex;
    font-family: 'Baloo Bhai 2', cursive;
}
#navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    height: 195px;
    width: 100%;
    z-index: -1;
    opacity: 0.9;
}
#navbar ul li{
    list-style: none;
    font-size: 1.2rem;
}
#navbar ul li a{
    color: whitesmoke;
    display: block;
    padding: 0px 20px;    /* a ke andar isliye padding di hai taaki jab hover kare to background mei khuch na ho*/
    text-decoration: none;
}
#navbar ul li a:hover{
    color: black;
    border-bottom: 2px solid black;
}

/*home*/
#home{
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    justify-content: center;
    align-items: center;
    height: 400px;
}
#home::before{
    content: "";
    background: url(../background2.jpg) no-repeat center center/cover;
    position: absolute;
    height: 550px;
    width: 100%;
    z-index: -1;
    opacity: 0.86;
    top: 0px;
    left: 0px;
}
#home h1{
    font-size: 3.1rem;
    color: white;
    text-align: center;
    text-align: center;
    padding: 12px;
    font-family: 'Bree Serif', serif;
}
#home p{
    color: wheat;
    font-size: 1.3rem;
    font-family: 'Bree Serif', serif;
}
.btn{
    padding: 5px 20px;
    margin: 15px;
    border: 2px solid black;
    background-color: rgb(232, 228, 228);
    font-weight: bold;
}
.btn:hover{
    cursor: pointer;
    background-color: grey;
    border-radius: 10px;
}
#services-container h1{
    text-align: center;
    font-size: 35px;
    margin-top: 20px;
    font-family: 'Baloo Bhai 2', cursive;
}
#services{
    display: flex;
    margin: 50px 10px;
}
#services .box{
    border: 3px solid brown;
    border-radius: 15px;
    font-family: 'Baloo Bhai 2', cursive;
    width: 1200px;
    padding: 10px;
    margin: 6px;
    background-color: rgb(231, 230, 232);
}
#services .box h2{
    text-align: center;
    
}
#services .box img{
    height: 140px;
    display: block;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 5px;
}
#services .box p{
    text-align: center;
    font-family: 'Bree Serif', serif;
}
.cnt img{
    height: 120px;
    margin: 27px;
    /* padding: 34px; */
    border: 5px solid black;
    border-radius: 10px;
}
#clients{
    display: flex;
    align-items: center;
    justify-content: center;
    /*border: 2px solid brown;*/
}
#clients::before{
    content: "";
    position: absolute;
    background: url(/background.jpg);
    width: 100%;
    height: 38%;
    z-index: -1;
    opacity: 0.7;
}
.center{
    /*border: 2px solid red;*/
    display: flex;
    align-items: center;
    justify-content: center;
}
.contactCenter{
    text-align: center;
    margin-top: 50px;
    font-family: 'Baloo Bhai 2', cursive;
    font-weight: bold;
    font-size: 30px;
}
#contact::before{
    content: "";
    position: absolute;
    background: url(/contact.jpg) no-repeat center center/cover;
    width: 100%;
    height: 445px;
    z-index: -1;
    opacity: 0.4;
}
#contactBox{
    display: flex;
    align-items: center;
    justify-content: center;
}
#contactBox input, 
#contactBox textarea{
    width: 90%;
    padding: 2px 5px;
    border-radius: 5px;
}
#contactBox label{
    font-size: 17px;
    font-family: 'Bree Serif', serif;
}
#contactBox .form{
    margin: 7px;
}
footer .center{
    background-color: black;
    color: white;
    padding: 2px 17px;
}
footer .button{
    text-align: center;
}
.btn2{
    padding: 4px 5px;
    margin: 6px 5px;
    width: 59px;
    border: 2px solid black;
    border-radius: 7px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.btn2:hover{
    cursor: pointer;
    background-color: gray;
    font-weight: bold;
}